{block content}
<img src="{$basePath . $organisation->logo}" alt="{$organisation->short_name}" title="logo" />
<br>
<h1 n:block=title>Jejda...metoda není povolena</h1>
<p>Požadovaná metoda není pro adresu URL povolena.</p>

<hr>
<h1>Method Not Allowed</h1>
<p>The requested method is not allowed for the URL.</p>

<p><small>error 405</small></p>
